/// Base
:root {
  @each $key, $value in $colours {
    @each $swatch-key, $swatch-value in $value {
      --clr-#{$key}-#{$swatch-key}: #{$swatch-value};
    }
  }

  @each $key, $value in $font-families {
    --ff-#{$key}: #{$value};
  }

  @each $key, $value in $font-sizes {
    --fz-#{$key}: #{$value};
  }

  @each $key, $value in $font-weights {
    --fw-#{$key}: #{$value};
  }

  @each $key, $value in $font-styles {
    --fs-#{$key}: #{$value};
  }

  @each $key, $value in $spacer-units {
    @each $size-key, $size-value in $spacer-sizes {
      $val: $size-value;
      @if ($size-key != "auto") {
        $val: #{spacer($size-value, $value)};
      }

      --#{$key}-#{$size-key}: #{$val};
    }
  }

  --wrapper-width: #{map-get($breakpoints, "xxl")};
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fz-400);
  line-height: 1.5;
}

.wrapper {
  --_width: var(--wrapper-width);
  --_spacer-inline: var(--v-400);
  --_margin-inline: 0;

  width: min(calc(100% - (var(--_spacer-inline) * 2)), var(--_width));
  margin-inline-start: var(--_margin-inline);
  margin-inline-end: var(--_margin-inline);
}

.wrapper-no-gutter {
  --_spacer-inline: 0;
}

.wrapper-centered {
  --_margin-inline: auto;
}

a {
  --_clr: var(--clr-blue-500);
  --_td: underline;

  --_hover-clr: var(--clr-blue-300);
  --_td: underline;

  color: var(--_clr);
  text-decoration: var(--_td);
}

a:hover {
  color: var(--_hover-clr);
  text-decoration: var(--_hover-td);
}

strong,
b {
  font-weight: var(--fw-bold);
}

em {
  font-style: italic;
}

small {
  font-weight: 80%;
}

sup {
  font-weight: 80%;
  vertical-align: top;
}

sub {
  font-weight: 80%;
  vertical-align: bottom;
}

code {
  font-family: var(--ff-monospace);
}

ul,
ol {
  padding-inline-start: var(--v-400);
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.p-grid {
  display: grid;
  grid-template-columns: 12ch auto;
  gap: 0 var(--v-200);
}
